//**** ALL THE COLORS ****
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$first-bg-color: #f6f6f6;
$secondary-bg-color: #ffffff;
$tertiary-bg-color: #353535;
$first-title-color: #000000;
$secondary-title-color: #101010;
$first-body-color: #000000;
$secondary-body-color: #ffffff;
$icon-color: #7e7e7e;
$new-color: #008766;
$button-bg-color: linear-gradient(#ff79da, #9356dc);
$location-bg-color: #eaeaea;
// toutes les couleurs sont nettoyer

//*** NETTOYAGE : ****
// new
// Tout les titres on garde la taille qui est indiquer ci-dessous.
// Cependant comme on utilise react on reglera directement la font size du titre
// dans le composant avec les media queries.

// a arranger :
$homepage-h1-and-h2-size: 24px;
$homepage-h1-and-h2-weight: 700;
$restaurant-page-h1-size: 28px;
$restaurant-page-h1-weight: 400;
$card-title-font-size: 18px;
$card-title-font-weight: 700;
$card-subtitle-font-size: 17px;
$card-subtitle-font-weight: 300;
$nouveau-font-size: 14px;
$nouveau-font-weight: 500;
$footer-title-font-size: 18px;
$footer-subtitle-font-size: 16px;
$weight-footer-link-icon: 500;

// a supprimer
$restaurant-card-title-weight: 500;
$restaurant-card-subtitle-size: 15px;
$price-font-size: 15px;
$price-font-weight: 700;
$menu-type-font-size: 16px;
$menu-type-font-weight: 300;
