//**** ALL THE COLORS ****
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$first-bg-color: #f6f6f6;
$secondary-bg-color: #ffffff;
$tertiary-bg-color: #353535;
$first-title-color: #000000;
$secondary-title-color: #101010;
$first-body-color: #000000;
$secondary-body-color: #ffffff;
$icon-color: #7e7e7e;
$new-color: #008766;
$button-bg-color: linear-gradient(#ff79da, #9356dc);
$location-bg-color: #eaeaea;

// **** ALL FONT STYLE ****
$thin-title-weight: 300;
$medium-title-weight: 500;
