@use "../utils/variables" as *;

body {
   margin: 0;
   font-family: "roboto", sans-serif;
   font-size: 16px;
   color: $first-body-color;
}

a {
   text-decoration: none;
}

h2,
h3 {
   margin: 0;
}
