//** all useful mixins for mobile and desktop, for homepage and restaurant pages **

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin rowReverse {
    display: flex;
    flex-direction: row-reverse;
}

@mixin flexMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin itemsCenter {
    display: flex;
    align-items: center;
}

@mixin justifyCenter {
    display: flex;
    justify-content: center;
}