   
    //**** ALL THE COLORS ****
    
    $loader-color: linear-gradient( #FFFFFF 80%,#FF79DA, #9356DC);
    $body-bg-and-footer-font-color: #FFFFFF;
    $main-color: #F6F6F6;
    $location-bg-color: #EAEAEA;
    $nouveau-font-color: #008766;
    $icone-color: #7E7E7E;
    $button-color: linear-gradient(#FF79DA, #9356DC);
    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $tertiary-color: #99E2D0;

    // ** color for the title  **
    $body-font-color: #000000;
    $secondary-color-title: #101010;

    // ** color for the footer bg, price, icone back  **
    $footer-and-co-color: #353535;
    
   
    // **** TEXT CONFIGURATION  ****

    //** general **
    $footer-title-font-size: 18px;
    $footer-subtitle-font-size: 16px;
    $weight-footer-link-icon: 500;

    // ** for the homepage **
    $homepage-h1-and-h2-size: 24px;
    $homepage-h1-and-h2-weight: 700;   
    $nouveau-font-size: 14px;
    $nouveau-font-weight: 500;
    $card-title-font-size: 18px;
    $card-title-font-weight: 700;
    $card-subtitle-font-size: 17px;
    $card-subtitle-font-weight: 300;
    
    
    //** for the restaurant pages **
    $restaurant-page-h1-size: 28px;
    $restaurant-page-h1-weight: 400;
    $menu-type-font-size: 16px;
    $menu-type-font-weight: 300;
    $restaurant-card-title-weight: 500;
    $restaurant-card-subtitle-size: 15px;
    $price-font-size: 15px;
    $price-font-weight: 700;