    $main-color: #F6F6F6;
    $body-bg-and-footer-font-color: #FFFFFF;
    $nouveau-font-color: #008766;
    $location-bg-color: #EAEAEA;
    $button-color: linear-gradient(#9356DC, #FF79DA);
    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $icone-color: #7E7E7E;
    $tertiary-color: #99E2D0;

    
    /** color for the footer bg, price, icone back  **/
    $footer-and-co-color: #353535;
    
    /** color for the title  **/
    $body-font-color: #000000;
    $secondary-color-title: #101010;

    /**** TEXT CONFIGURATION  ****/

    $homepage-h1-and-h2-size: 24px;
    $homepage-h1-and-h2-weight: 700;   
    $card-title-font-size: 18px;
    $card-title-font-weight: 700;
    $card-subtitle-font-size: 17px;
    $card-subtitle-font-weight: 300;
    $footer-title-font-size: 18px;
    $footer-subtitle-font-size: 16px;