body {
  font-family: "roboto", sans-serif;
  margin: 0;
  color: #000000;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.header__logo {
  width: 162px;
  height: 44px;
}

.location-city {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: inset 0 6px 5px -5px rgba(0, 0, 0, 0.205), 0 4px 4px rgba(0, 0, 0, 0.205);
}
.location-city p {
  font-weight: 500;
}

.explore-restaurants {
  padding: 10px;
  text-align: center;
  background-color: #F6F6F6;
}
.explore-restaurants h1 {
  margin: 25px 35px 15px 35px;
}
.explore-restaurants p {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 30px 0 45px 0;
}
.btn__restaurant-search {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 16px;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 188px;
}
.btn__restaurant-search:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.fonctionnement {
  padding: 50px 20px 70px 20px;
}
.fonctionnement h2 {
  margin: 0 0 30px 0;
}

.fonctionnement__cards-gang {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  gap: 23px;
}

.fonctionnement__cards {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
  gap: 10px;
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.144);
}
.fonctionnement__cards-pellet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  height: 25px;
  right: 12px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50px;
}
.fonctionnement__cards-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fonctionnement__cards-content i {
  color: #7E7E7E;
}
.fonctionnement__cards-content p {
  font-weight: 500;
}

.fonctionnement__icon {
  width: 40px;
  font-size: 18px;
}
.fonctionnement__cards:hover .fonctionnement__icon i {
  color: #9356DC;
}

/**** RESTAURANTS ****/
.restaurants {
  padding: 35px 20px 65px 20px;
  background-color: #F6F6F6;
}
.restaurants-cards-gang {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.first-restaurants-row,
.second-restaurants-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.new {
  display: flex;
  flex-direction: row-reverse;
}
.new .new-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 29px;
  margin: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
}

.restaurants-card {
  position: relative;
  width: 100%;
  height: 251px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.restaurants-card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants-card .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 8px 12px;
}
.restaurants-card .card-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #000000;
}
.restaurants-card .card-text p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

.heart-card {
  margin: 0 25px 30px 0;
}
.heart-card i {
  position: absolute;
  font-size: 26px;
  color: #101010;
}

.full-heart {
  opacity: 0;
}
.full-heart:hover {
  opacity: 1;
  color: transparent;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}

/**** FOOTER  ****/
footer {
  padding: 25px;
  color: #FFFFFF;
  background-color: #353535;
}
footer a {
  color: #FFFFFF;
}

.footer-title {
  margin-top: 0;
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
}

.propose-and-become-link,
.mention-and-contact-link {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 8px 0 0 0;
  padding: 0;
  gap: 8px;
}

.link-with-icon {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.link-icon {
  width: 25px;
  font-size: 13px;
}

.link-without-icon {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 769px) {
  .header {
    height: 95px;
  }
  .header__logo {
    width: 200px;
  }
  .location-city {
    box-shadow: none;
  }
  .explore-restaurants h1 {
    margin: 20px 35px 30px 35px;
    font-size: 40px;
  }
  .explore-restaurants-button {
    margin: 30px 0 20px 0;
  }
  .fonctionnement {
    padding: 50px 180px 50px 180px;
  }
  .fonctionnement__cards-gang {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .restaurants {
    padding: 10px 175px 30px 175px;
  }
  .restaurants h2 {
    margin-bottom: 28px;
  }
  .restaurants-cards-gang {
    display: flex;
    gap: 50px;
  }
  .first-restaurants-row,
  .second-restaurants-row {
    flex-direction: row;
    gap: 100px;
  }
  .card-link {
    width: 50%;
  }
  footer {
    padding: 60px 60px 30px 60px;
  }
  footer .footer-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 90px;
  }
  footer .footer-title {
    margin-bottom: 0;
  }
  .footer-only-responsive {
    display: flex;
    gap: 45px;
  }
  .propose-and-become-link,
  .mention-and-contact-link {
    flex-direction: row;
    gap: 15px;
  }
}/*# sourceMappingURL=homepage.css.map */