//** import of all useful files **

@import './_variables';
@import './_mixins';
@import './_placeholder';
@import './_variables';
@import './_animations';


//**** GENERAL ****

body {
    font-family: "roboto", sans-serif;
    margin: 0;
    color: $body-font-color;
}

h1, h2 {
    font-size: $homepage-h1-and-h2-size;
    font-weight: $homepage-h1-and-h2-weight;
}

h3 {
    margin: 0;
    font-size: $card-title-font-size;
    font-weight: $card-title-font-weight;
}

a {
    text-decoration: none;
}


//**** HEADER ****

.header {
    position: relative;
    z-index: 2;
    @include flexMiddle;
    height: 63px;
    &__logo {
        width: 162px;
        height: 44px;
    }
}


//**** SEARCH SECTION ****

.location-city {
    position: relative;
    z-index: 1;
    @include flexMiddle;
    gap: 17px;
    color: $footer-and-co-color;
    background-color: $location-bg-color;
    box-shadow: inset 0 6px 5px -5px rgba(0, 0, 0, 0.205), 0 4px 4px rgba(0, 0, 0, 0.205);
    & p {
        font-weight: 500;
    }
}

.explore-restaurants {
    padding: 10px;
    text-align: center;
    background-color: $main-color;
    h1 {
        margin: 25px 35px 15px 35px;
    }
    p {
        margin: 0 10px;
        font-size: 18px;
        font-weight: 300;
        color: $footer-and-co-color;
    }
}

.btn {
    display: flex;
    justify-content: center;
    margin: 30px 0 45px 0;

    &__restaurant-search {
        @include button;
        width: 188px;
    }
}


//**** FONCTIONNEMENT SECTION ****

.fonctionnement {
    padding: 50px 20px 70px 20px;
    h2 {
        margin: 0 0 30px 0;
    }
}

.fonctionnement__cards-gang {
    @include flexColumn;
    margin-left: 13px;
    gap: 23px;
}

.fonctionnement__cards {
    @include itemsCenter;
    width: 100%;
    height: 73px;
    gap: 10px;
    background-color: $main-color;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.144);
    &-pellet {
        position: relative;
        @include flexMiddle;
        min-width: 25px;
        height: 25px;
        right: 12px;
        font-size: 14px;
        color: $body-bg-and-footer-font-color;
        background-color: $primary-color;
        border-radius: 50px;
    }
    &-content {
        @include flexRow;
        align-items: center;
        i {
            color: $icone-color;
        }
        p {
            font-weight: 500;
        }
    }
}

.fonctionnement__icon {
    width: 40px;
    font-size: 18px;
    .fonctionnement__cards:hover & i {
        color: $primary-color;
    }
}


/**** RESTAURANTS ****/

.restaurants {
    padding: 35px 20px 65px 20px;
    background-color: $main-color;
    &-cards-gang {
        @include flexColumn;
        gap: 18px;
    }
}

.first-restaurants-row,
.second-restaurants-row {
    @include flexColumn;
    gap: 18px;
}

.new {
    @include rowReverse;
    .new-restaurant{
        @include flexMiddle;
        position: absolute;
        z-index: 1;
        width: 80px;
        height: 29px;
        margin: 12px;
        font-size: 14px;
        font-weight: 500;
        color: $nouveau-font-color;
        background-color: $tertiary-color;
        border-radius: 2px;
    }
}

.restaurants-card {
    position: relative;
    width: 100%;
    height: 251px;
    background-color: $body-bg-and-footer-font-color;
    border-radius: 15px;
    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .card-content {
        @include itemsCenter;
        justify-content: space-between;
        padding: 10px 25px 8px 12px;
    }
    .card-text {
        @include flexColumn;
        gap: 3px;
        color: $body-font-color;
        p {
            margin: 0;
            font-size: $card-subtitle-font-size;
            font-weight: $card-subtitle-font-weight;  
        }
    }
}

.heart-card {
    margin: 0 25px 30px 0;
    i {
        position: absolute;
        font-size: 26px;
        color: $secondary-color-title;
    }
}

.full-heart {
    @include heartButton;
}


/**** FOOTER  ****/

footer {
    padding: 25px;
    color: $body-bg-and-footer-font-color;
    background-color: $footer-and-co-color;
    a {
        color: $body-bg-and-footer-font-color;
    }
}

.footer-title {
    margin-top: 0;
    font-family: "shrikhand", sans-serif;
    font-size: $footer-title-font-size;
}

.propose-and-become-link,
.mention-and-contact-link {
    @include flexColumn;
    list-style-type: none;
    margin: 8px 0 0 0;
    padding: 0;
    gap: 8px;
}

.link-with-icon {
    @include itemsCenter;
    font-size: $footer-subtitle-font-size;
    font-weight: 500;
}

.link-icon {
    width: 25px;
    font-size: 13px;
}

.link-without-icon {
    font-size: $footer-subtitle-font-size;
    font-weight: 400;
}


//******* MEDIA QUERIES FOR DESKTOP *******
@media (min-width: 769px) {


    //**** HEADER **** 
    
    .header {
        height: 95px;
        &__logo {
            width: 200px;
        }
    }
    

    //**** SEARCH SECTION ****
    
    .location-city {
        box-shadow: none;
    }

    .explore-restaurants h1 {
        margin: 20px 35px 30px 35px;
        font-size: 40px;
    }
    
    .explore-restaurants-button {
        margin: 30px 0 20px 0;
    }
    
    
    //**** FONCTIONNEMENT ****
    
    .fonctionnement {
        padding: 50px 180px 50px 180px;
    }

    .fonctionnement__cards-gang {
        @include flexRow;
        gap: 40px;
    }


    //**** RESTAURANTS ****

    .restaurants {
        padding: 10px 175px 30px 175px;
        h2 {
            margin-bottom: 28px;
        }
    }
    
    .restaurants-cards-gang {
        display: flex;
        gap: 50px;
    }
        
    .first-restaurants-row,
    .second-restaurants-row {
        flex-direction: row;
        gap: 100px;
    }
        
    .card-link {
        width: 50%;
    }


    //**** FOOTER ****

    footer {
        padding: 60px 60px 30px 60px;
        .footer-content {
            @include rowReverse;
            align-items: center;
            gap: 90px;
        }
        .footer-title {
            margin-bottom: 0;
        }
    }

    .footer-only-responsive {
        display: flex;
        gap: 45px;
    }
    
    .propose-and-become-link,
    .mention-and-contact-link {
        flex-direction: row;
        gap: 15px;
    }
}