//** import of all useful files **

@import './_variables';
@import './_mixins';
@import './_variables';
@import './_animations';


//**** GENERAL ****

body {
    margin: 0;
    font-family: "roboto", sans-serif;
    color: $body-font-color;
}

h1 {
    margin: 0 0 0 5px;
    font-family: 'shrikhand', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: $secondary-color-title;
}

h2 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    margin: 0 0 3px 0;
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
}


//**** HEADER ****

.header {
    @include justifyCenter;
    height: 63px;
        &__logo {
            margin-top: 15px;
            width: 162px;
            height: 44px;
        }
        &__icon {
            position: absolute;
            top: 23px;
            left: 25px;
        }
        i {
            font-size: 20px;
            color: $secondary-color-title;
        }
}


//**** MENU SECTION ****

.restaurant-picture img {
    width: 100%;
}

.menu {
    position: relative;
    z-index: 1;
    margin-top: -40px;
    padding: 30px 13px 40px 13px;
    background-color: $main-color;
    border-radius: 40px 40px 0 0;
    &__title {
        @include itemsCenter;
        margin-bottom: 25px;
        gap: 35px;
        &-heart {
            margin: 0 25px 30px 0;
            i {
                position: absolute;
                font-size: 26px;
                color: $secondary-color-title;
            }
            .full-heart {
                @include heartButton;
            }
        }
    }
}

.dish {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    // max-width: 100%;
    .border-title {
        width: 40px;
        margin-bottom: 12px;
        border-bottom: 3px solid $tertiary-color;
    }
    .dish__cards {
        overflow: hidden;
        // max-width: 100%;
        margin: 8px;
    }
}   

.dish__cards-content {
    display: flex;
    overflow: hidden;
    background: $body-bg-and-footer-font-color;
    border-radius: 15px;
    box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.089);
    cursor: pointer;
}

.dish__cards-content .dish__cards-text {
    overflow: hidden;
    padding: 10px 0 10px 16px;
}

.dish__cards-content .dish__cards-text h3,
.dish__cards-content .dish__cards-text p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dish__cards-content .dish__cards-text p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.dish__cards-content .dish__cards-price {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding: 10px 16px 10px 0;
    font-size: 15px;
    font-weight: 700;
    color: $footer-and-co-color;
}

.dish__cards-content {
    @include dishChecked;
}

#starters-menu {
    animation: appear 0.8s; 
}

#main-dish-menu {
    animation: appear 1.2s;
}

#dessert-menu {
    animation: appear 1.8s;
}

.btn {
    @include justifyCenter;
    text-align: center;
    &__commander {
        @include button;
        width: 155px;
    }
}


/**** FOOTER  ****/

footer {
    padding: 25px;
    color: $body-bg-and-footer-font-color;
    background-color: $footer-and-co-color;
    a {
        color: $body-bg-and-footer-font-color;
    }
}

.footer-title {
    margin-top: 0;
    font-family: "shrikhand", sans-serif;
    font-size: $footer-title-font-size;
}

.propose-and-become-link,
.mention-and-contact-link {
    @include flexColumn;
    list-style-type: none;
    margin: 8px 0 0 0;
    padding: 0;
    gap: 8px;
}

.link-with-icon {
    @include itemsCenter;
    font-size: $footer-subtitle-font-size;
    font-weight: 500;
}

.link-icon {
    width: 25px;
    font-size: 13px;
}

.link-without-icon {
    font-size: $footer-subtitle-font-size;
    font-weight: 400;
}


//******* MEDIA QUERIES FOR DESKTOP ******* 
@media (min-width: 769px) {


    //**** HEADER ****

    .header {
        height: 95px;
        &__logo {
            width: 200px;
            margin-top: 25px;
        }
        &__icon {
            top: 38px;
        }
    }


    //**** MENU SECTION ****

    .restaurant-picture img {
        width: 100%;
        height: 380px;
        object-fit: cover;
    }

    .menu-only-responsive {
        @include justifyCenter;
    }

    .menu {
        width: 44%;
        padding: 50px 210px 40px 210px;
        &__title {
            @include flexMiddle;
            margin-bottom: 40px;
        }
    }
    
    // .dish__cards-alone {
    //     width: 100%;
    // }


    //**** FOOTER ****

    footer {
        padding: 60px 60px 30px 60px;
        .footer-content {
            @include rowReverse;
            align-items: center;
            gap: 90px;
        }
        .footer-title {
            margin-bottom: 0;
        }
    }

    .footer-only-responsive {
        display: flex;
        gap: 45px;
    }
    
    .propose-and-become-link,
    .mention-and-contact-link {
        flex-direction: row;
        gap: 15px;
    }
}