@use "../../utils/variables" as *;

.container {
   i {
      position: absolute;
      font-size: 26px;
      color: $secondary-title-color;
   }
   .full-heart {
      opacity: 0;
      color: transparent;
      background: $button-bg-color;
      background-clip: text;
      -webkit-background-clip: text;
      transition: all 300ms;
      cursor: pointer;
      &:hover {
         opacity: 1;
         animation: heartPulse 0.8s;
      }
   }
}

@keyframes heartPulse {
   20% {
      transform: scale(0.8);
   }
   40% {
      transform: scale(0.6);
   }
   60% {
      transform: scale(0.8);
   }
   80% {
      transform: scale(0.6);
   }
   100% {
      transform: scale(1.1);
   }
}
