@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;

.new-restaurant {
   @include flexCenter;
   width: 80px;
   height: 29px;
   font-size: 14px;
   font-weight: 500;
   color: $new-color;
   background-color: $tertiary-color;
   border-radius: 3px;
   p {
      margin: 0;
   }
}
