//** import of all useful files **

@use "../utils/mixins" as *;
@use "../utils/variables" as *;

//**** GENERAL ANIMATIONS ****

//** homepage loader **
@mixin loader {
   @include flexCenter;
   position: fixed;
   z-index: 3;
   height: 100vh;
   inset: 0;
   background: linear-gradient(
      $secondary-bg-color 80%,
      $secondary-color,
      $primary-color
   );
   opacity: 0.9;
   animation: loaderOut 0.2s forwards;
   animation-delay: 1.5s;
   transform-origin: bottom;
   i {
      animation: spinIcon 1.5s forwards;
   }
}

@keyframes spinIcon {
   to {
      transform: rotate(540deg);
   }
}

@keyframes loaderOut {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(0);
   }
}

//** all button **

@mixin button {
   transition: opacity 0.5s ease, box-shadow 0.5s ease;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   &:hover {
      opacity: 0.8;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
   }
}

//**** ANIMATIONS FOR THE RESTAURANT PAGE ****

//** delayed appearance of menus **

//** dish checked animation **

@mixin dishChecked {
   .dish__cards-check {
      @include gridCenter;
      width: 4rem;
      flex-shrink: 0;
      margin-right: -4rem;
      background-color: $tertiary-color;
      border-radius: 0 15px 15px 0;
      transition: margin-right 400ms;
      i {
         @include gridCenter;
         width: 18px;
         height: 18px;
         padding: 2px;
         font-size: 14px;
         color: $tertiary-color;
         background-color: $secondary-body-color;
         border-radius: 50px;
      }
   }
   &:hover {
      .dish__cards-check {
         margin: 0;
      }
   }
}
