@use "../../utils/variables" as *;
@use "../../utils/mixins" as *;
@use "../../utils/breakpoints" as media;

.explore {
   padding: 35px 20px 55px 20px;
   text-align: center;
   background-color: $first-bg-color;
   h1 {
      margin: 0 35px;
   }
   p {
      margin: 15px 0 30px 0;
      font-size: 18px;
      font-weight: 300;
      color: $tertiary-bg-color;
   }
   &__btn-container {
      @include justifyCenter;
   }
}

.functioning {
   padding: 50px 20px 70px 20px;
   h2 {
      margin: 0 0 30px 0;
   }
   &__explanation-cards {
      @include flexColumn;
      margin-left: 13px;
      gap: 23px;
   }
}

.restaurants {
   padding: 35px 20px 65px 20px;
   background-color: $first-bg-color;
   &__cards {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: 18px;
   }
}

// **********     MEDIA QUERIES     **********

@include media.tabs {
   .functioning {
      padding: 50px 100px 50px 100px;
      &__explanation-cards {
         @include flexRow;
         gap: 30px;
      }
   }

   .restaurants {
      padding: 10px 100px 30px 100px;
   }
}

@include media.tabsAndDesktop {
   .explore {
      padding: 30px 20px 30px 20px;
      h1 {
         font-size: 40px;
      }
      p {
         margin: 30px 0;
      }
   }
   .restaurants {
      h2 {
         margin-bottom: 28px;
      }
      &__cards {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: repeat(2, 1fr);
         gap: 50px 100px;
      }
   }
}

@include media.desktop {
   .functioning {
      padding: 50px 180px 50px 180px;
      &__explanation-cards {
         @include flexRow;
         gap: 40px;
      }
   }
   .restaurants {
      padding: 10px 175px 30px 175px;
   }
}
