@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;

.link__with-icon {
   @include itemsCenter;
   font-weight: $medium-title-weight;

   .link__icon {
      width: 25px;
      font-size: 13px;
   }
}
