@use "../../utils/variables" as *;
@use "../../utils/mixins" as *;
@use "../../animations/animations" as *;

.btn {
   all: unset;
   padding: 16px;
   text-align: center;
   color: $secondary-body-color;
   font-weight: 500;
   background: $button-bg-color;
   border-radius: 50px;
   cursor: pointer;
   @include button;
   &__explore {
      width: 188px;
   }
   &__order {
      width: 155px;
   }
}
